@mixin borderAnime {
  position: relative;

  cursor: url(https://cdn.jsdelivr.net/gh/ounstoppableo/cdn@vlatest/assets/cola.ico),
    pointer;
  &:hover {
    color: var(--styleColor);
    &::after {
      transform: scale(1);
    }
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: var(--styleColor) 2px solid;
    transition: all 0.2s ease;
    transform-origin: bottom center;
    transform: scale(0);
  }
}
