@font-face {
  font-family: "iconfont"; /* Project id 4278340 */
  src: url('iconfont.woff2?t=1741745908857') format('woff2'),
       url('iconfont.woff?t=1741745908857') format('woff'),
       url('iconfont.ttf?t=1741745908857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zujian:before {
  content: "\e652";
}

.icon-wenzhang:before {
  content: "\e668";
}

.icon-crown:before {
  content: "\ec3c";
}

.icon-gerenjianjie:before {
  content: "\e608";
}

.icon-friend:before {
  content: "\e62b";
}

.icon-book:before {
  content: "\e8ec";
}

.icon-left1:before {
  content: "\e6cb";
}

.icon-right1:before {
  content: "\e6dd";
}

.icon-iconfontfoggynight:before {
  content: "\e617";
}

.icon-cloud:before {
  content: "\e973";
}

.icon-qing:before {
  content: "\e605";
}

.icon-clear-night:before {
  content: "\e6af";
}

.icon-ac-unit:before {
  content: "\ec40";
}

.icon-rainy:before {
  content: "\ea12";
}

.icon-thunderstorm:before {
  content: "\e75b";
}

.icon-partly-cloudy-night:before {
  content: "\e606";
}

.icon-partly-cloudy-day:before {
  content: "\e607";
}

.icon-emoji:before {
  content: "\e616";
}

.icon-dingyue:before {
  content: "\e63f";
}

.icon-tag1:before {
  content: "\e637";
}

.icon-pin:before {
  content: "\e6a6";
}

.icon-quxiaozhiding:before {
  content: "\e6b8";
}

.icon-zhiding:before {
  content: "\e678";
}

.icon-AUDIT:before {
  content: "\ea19";
}

.icon-declare:before {
  content: "\e61b";
}

.icon-link:before {
  content: "\e631";
}

.icon-User:before {
  content: "\e716";
}

.icon-heartbeat:before {
  content: "\eb47";
}

.icon-tag:before {
  content: "\e738";
}

.icon-safe:before {
  content: "\e769";
}

.icon-update1:before {
  content: "\e968";
}

.icon-word:before {
  content: "\e6a3";
}

.icon-time:before {
  content: "\e6e0";
}

.icon-update:before {
  content: "\e635";
}

.icon-time1:before {
  content: "\e680";
}

.icon-scene:before {
  content: "\e604";
}

.icon-yule:before {
  content: "\e662";
}

.icon-yinle:before {
  content: "\e602";
}

.icon-yinle1:before {
  content: "\e603";
}

.icon-yinfu:before {
  content: "\e630";
}

.icon-yinfu1:before {
  content: "\e770";
}

.icon-yinfu2:before {
  content: "\e771";
}

.icon-yinfu02:before {
  content: "\e6bd";
}

.icon-shunxubofang:before {
  content: "\e60a";
}

.icon-suijibofang:before {
  content: "\e871";
}

.icon-danquxunhuan:before {
  content: "\e85a";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-wangyiyunyinle:before {
  content: "\e601";
}

.icon-album1:before {
  content: "\e75a";
}

.icon-tingzhi:before {
  content: "\e62a";
}

.icon-close:before {
  content: "\e626";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-geciweidianji:before {
  content: "\e727";
}

.icon-shangyiqu:before {
  content: "\e63c";
}

.icon-xiayiqu:before {
  content: "\e63d";
}

.icon-custom-user:before {
  content: "\e632";
}

.icon-mail:before {
  content: "\e7bd";
}

.icon-global:before {
  content: "\e7ed";
}

.icon-folder_fill:before {
  content: "\e661";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-menu_open:before {
  content: "\e660";
}

.icon-safari:before {
  content: "\e718";
}

.icon-message:before {
  content: "\e78a";
}

.icon-like-fill:before {
  content: "\e86a";
}

.icon-unlike-fill:before {
  content: "\e86b";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-calendar:before {
  content: "\e6bf";
}

.icon-hotfill:before {
  content: "\e757";
}

.icon-folder:before {
  content: "\e8da";
}

.icon-catalogue:before {
  content: "\e65e";
}

.icon-firefox:before {
  content: "\e67f";
}

.icon-loading:before {
  content: "\e861";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-reload:before {
  content: "\e788";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-notification:before {
  content: "\e7da";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-container-fill:before {
  content: "\e85f";
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-chrome:before {
  content: "\e87e";
}

.icon-apple:before {
  content: "\e87f";
}

.icon-android:before {
  content: "\e880";
}

.icon-windows:before {
  content: "\e881";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-form:before {
  content: "\e731";
}

.icon-clock-circle:before {
  content: "\e76a";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-folder-open:before {
  content: "\e61f";
}

.icon-copyright:before {
  content: "\e74f";
}

.icon-appstore:before {
  content: "\e674";
}

.icon-search:before {
  content: "\e65f";
}

.icon-login:before {
  content: "\e688";
}

.icon-upload:before {
  content: "\e682";
}

.icon-edge:before {
  content: "\ebfa";
}

.icon-time-history:before {
  content: "\e834";
}

.icon-down:before {
  content: "\e839";
}

.icon-delete:before {
  content: "\e83a";
}

.icon-up1:before {
  content: "\e845";
}

.icon-picture:before {
  content: "\e862";
}

.icon-Arrows_Arrow_Up:before {
  content: "\e914";
}

.icon-kaiguan:before {
  content: "\e61e";
}

.icon-icon-test:before {
  content: "\e641";
}

.icon-fengye:before {
  content: "\e701";
}

.icon-chushihua:before {
  content: "\e60f";
}

.icon-xuehua:before {
  content: "\e655";
}

.icon-yinghua:before {
  content: "\e600";
}

.icon-up:before {
  content: "\e618";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-email-fill:before {
  content: "\e856";
}

.icon-telegram:before {
  content: "\f245";
}

.icon-moon:before {
  content: "\e6c3";
}

.icon-sun:before {
  content: "\e886";
}

